<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SmartHire</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <h1>SmartHire</h1>
        <nav>
            {% if session.get('role') == 'HR' %}
                <a href="{{ url_for('hr_dashboard') }}">HR Dashboard</a>
                <a href="{{ url_for('post_job') }}">Post Job</a>
                <a href="{{ url_for('logout') }}">Logout</a>
            {% elif session.get('role') == 'User' %}
                <a href="{{ url_for('user_dashboard') }}">User Dashboard</a>
                <a href="{{ url_for('upload_resume') }}">Upload Resume</a>
                <a href="{{ url_for('logout') }}">Logout</a>
            {% else %}
                <a href="{{ url_for('auth.login') }}">Login</a>
                <a href="{{ url_for('auth.register') }}">Register</a>
            {% endif %}
        </nav>
    </header>
    <main>
        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            <ul class="flashes">
            {% for category, message in messages %}
              <li class="flash-{{ category }}">{{ message }}</li>
            {% endfor %}
            </ul>
          {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </main>
    <footer>
        <p>&copy; {{ 2025 }} SmartHire. All rights reserved. A Umair Yojo Creation</p>
    </footer>
</body>
</html>
